body{
    background-color: rgb(20, 20, 156);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%
}
h1{
    font-size: 3rem;
    color: rgb(221, 214, 205);
}
h2{
    font-size: 2rem;
    color: rgb(248, 213, 17);
}
p{
    text-align: justify;
    color: antiquewhite;
    font-size: 1rem;
}
.gallery{
    width: 1400px;
    height: 800px;
    padding: auto;
    align-items: center;
}
.small{
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 5px 0;
}
header >img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 0;
}
nav ul {
    list-style: none;
    text-align: center;
}
nav li{
    display: inline-block;

}
section{
    display: flex;
}
article{
    flex: 1;
}
footer{
    display: flex;
}
footer div{
    flex: 1;
}
footer div >h1{
    font-size: 1rem;
    text-align: end;
    color: black;
}
img{
    width: 300px;
    height: 150px;
    padding: 5px;
}
